<!DOCTYPE html>
<html>
  <head>
    <title>ข้อความ</title>
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Content-Type" content="text/html charset=utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />

    <link href="./stylesheets/global.css" rel="stylesheet" />
    <link href="./stylesheets/colors.css" rel="stylesheet" />
    <link href="./stylesheets/materialdesignicons.min.css" rel="stylesheet" />
    <link href="./stylesheets/fonts.css" rel="stylesheet" />
    <link href="./stylesheets/messages.css" rel="stylesheet" />
    <link href="./stylesheets/vuetify.min.css" rel="stylesheet" />
  </head>

  <body class="bg-gray-4">
    <div id="app">
      <v-snackbar v-model="snackbar"> {{ snackbarText }} </v-snackbar>
      <v-dialog v-model="deleteDialog" max-width="290">
        <v-card>
          <v-card-title class="headline"> Confirm Delete </v-card-title>

          <v-card-text>
            Are you sure you want to delete this auto reply message?
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn text @click="deleteDialog = false"> Cancel </v-btn>

            <v-btn raised elevation="0" color="primary" @click="deleteMessage">
              Delete
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <app-layout current-path="auto-reply">
        <v-col sm="7" class="pt-6 pb-6 pl-6 pr-0">
          <div class="auto-reply-form__container">
            <div class="d-flex justify-space-between align-center">
              <h1 class="title">Auto Reply Mode</h1>
              <v-switch flat></v-switch>
            </div>
            <p class="auto-reply-form__description">
              By turning this on. You will stop receiving messages from resident
              and start sending auto reply messages
            </p>
            <div class="auto-reply-form__card-container">
              <v-form class="h-100">
                <h4 class="font-weight-500">Title Name</h4>
                <v-text-field
                  v-model="title"
                  required
                  placeholder="Enter title name"
                ></v-text-field>

                <h4 class="font-weight-500 mb-4">Message</h4>
                <v-textarea
                  class="border-gray-3"
                  v-model="message"
                  auto-grow
                  outlined
                  placeholder="Enter your message"
                ></v-textarea>

                <h4 class="font-weight-500">Select Day to Send Message</h4>
                <v-row>
                  <v-col>
                    <v-checkbox
                      v-model="days"
                      label="Everyday"
                      value="Everyday"
                    ></v-checkbox>
                  </v-col>
                  <v-col>
                    <v-checkbox
                      v-model="days"
                      label="Monday"
                      value="Monday"
                    ></v-checkbox>
                  </v-col>
                  <v-col>
                    <v-checkbox
                      v-model="days"
                      label="Tuesday"
                      value="Tuesday"
                    ></v-checkbox>
                  </v-col>
                  <v-col>
                    <v-checkbox
                      v-model="days"
                      label="Wednesday"
                      value="Wednesday"
                    ></v-checkbox>
                  </v-col>
                  <v-col>
                    <v-checkbox
                      v-model="days"
                      label="Thursday"
                      value="Thursday"
                    ></v-checkbox>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-checkbox
                      v-model="days"
                      label="Friday"
                      value="Friday"
                    ></v-checkbox>
                  </v-col>
                  <v-col>
                    <v-checkbox
                      class="rounded"
                      v-model="days"
                      label="Saturday"
                      value="Saturday"
                    ></v-checkbox>
                  </v-col>
                  <v-col>
                    <v-checkbox
                      v-model="days"
                      label="Sunday"
                      value="Sunday"
                    ></v-checkbox>
                  </v-col>
                  <v-col></v-col>
                  <v-col></v-col>
                </v-row>
                <h4 class="font-weight-500">Select time to Send Message</h4>
                <v-row>
                  <div class="auto-reply-form__time-picker-container">
                    <v-menu
                      ref="startTimeMenu"
                      v-model="startTimeMenu"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="startTimeMenu"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="startTime"
                          label="Start time"
                          prepend-icon="mdi-clock-time-four-outline"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-time-picker
                        v-if="startTimeMenu"
                        v-model="startTime"
                        full-width
                        @click:minute="$refs.startTimeMenu.save(startTime)"
                      ></v-time-picker>
                    </v-menu>
                  </div>
                  <div class="auto-reply-form__time-picker-container">
                    <v-menu
                      ref="endTimeMenu"
                      v-model="endTimeMenu"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="endTimeMenu"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="endTime"
                          label="End time"
                          prepend-icon="mdi-clock-time-four-outline"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-time-picker
                        v-if="endTimeMenu"
                        v-model="endTime"
                        full-width
                        @click:minute="$refs.endTimeMenu.save(endTime)"
                      ></v-time-picker>
                    </v-menu>
                  </div>
                </v-row>

                <v-row justify="end" class="mr-1">
                  <div
                    class="auto-reply-form__submit"
                    role="button"
                    @click="submit"
                  >
                    {{ mode }}
                  </div>
                </v-row>
              </v-form>
            </div>
          </div>
        </v-col>
        <v-col sm="5" class="pt-6 pb-6 pl-6 pr-8">
          <div
            class="messages-container"
            :class="{ 'messages-container--empty': !replyMessages.length }"
          >
            <v-row aligns="center">
              <v-col>
                <h4>Auto Reply Messages</h4>
              </v-col>
              <v-col>
                <div
                  class="messages-container__new-message-btn"
                  role="button"
                  @click="newMessage"
                >
                  New Message
                </div>
              </v-col>
            </v-row>
            <div class="messages-list">
              <v-sheet
                rounded
                class="reply-message__card"
                color="primary"
                @click="selectMessage(i)"
                v-for="(replyMessage, i) in replyMessages"
                :key="replyMessage.title"
              >
                {{ replyMessage.title }}
                <v-icon color="white" @click="deleteDialog = true"
                  >mdi-delete</v-icon
                >
              </v-sheet>
            </div>
          </div>
        </v-col>
      </app-layout>
    </div>
    <script src="javascripts/vue.min.js"></script>
    <script src="javascripts/vuetify.min.js"></script>
    <script src="javascripts/components/app-drawer.js"></script>
    <script src="javascripts/components/app-layout.js"></script>
    <script src="javascripts/auto-reply-messages.js"></script>
  </body>
</html>
