<!DOCTYPE html>
<html>
  <head>
    <title>ข้อความ</title>
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Content-Type" content="text/html charset=utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />

    <link href="./stylesheets/global.css" rel="stylesheet" />
    <link href="./stylesheets/colors.css" rel="stylesheet" />
    <link href="./stylesheets/materialdesignicons.min.css" rel="stylesheet" />
    <link href="./stylesheets/fonts.css" rel="stylesheet" />
    <link href="./stylesheets/messages.css" rel="stylesheet" />
    <link href="./stylesheets/vuetify.min.css" rel="stylesheet" />
  </head>

  <body class="bg-gray-4">
    <div id="app">
      <v-snackbar v-model="snackbar"> {{ snackbarText }} </v-snackbar>
      <v-dialog v-model="deleteDialog" max-width="290">
        <v-card>
          <v-card-title class="headline"> Confirm Delete </v-card-title>

          <v-card-text>
            Are you sure you want to delete this auto reply message?
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn text @click="deleteDialog = false"> Cancel </v-btn>

            <v-btn raised elevation="0" color="primary" @click="deleteMessage">
              Delete
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <app-layout current-path="keyword-reply">
        <v-col sm="7" class="pt-6 pb-6 pl-6 pr-0">
          <div class="auto-reply-form__container">
            <div class="d-flex justify-space-between align-center">
              <h1 class="title">Keyword Reply Mode</h1>
              <v-switch flat></v-switch>
            </div>
            <p class="auto-reply-form__description">
              By turning this on. You will stop receiving messages from resident
              and start sending auto reply messages
            </p>
            <div class="auto-reply-form__card-container">
              <v-form class="h-100">
                <h4 class="font-weight-500">Primary keyword</h4>
                <v-combobox
                  v-model="primaryKeywords"
                  hide-selected
                  placeholder="Enter primary keyword"
                  chips
                  deletable-chips
                  hint="You can add only one primary keyword"
                >
                </v-combobox>

                <h4 class="font-weight-500">Additional keyword</h4>
                <v-combobox
                  v-model="additionalKeywords"
                  hide-selected
                  placeholder="Enter keyword"
                  multiple
                  multiline
                  chips
                  deletable-chips
                >
                </v-combobox>

                <h4 class="font-weight-500 mb-4">Message</h4>
                <v-textarea
                  class="border-gray-3"
                  v-model="message"
                  auto-grow
                  outlined
                  placeholder="Input your message"
                ></v-textarea>

                <v-row justify="end" class="mr-1">
                  <div
                    class="auto-reply-form__submit"
                    role="button"
                    @click="submit"
                  >
                    {{ mode }}
                  </div>
                </v-row>
              </v-form>
            </div>
          </div>
        </v-col>
        <v-col sm="5" class="pt-6 pb-6 pl-6 pr-8">
          <div
            class="messages-container"
            :class="{ 'messages-container--empty': !replyMessages.length }"
          >
            <v-row aligns="center">
              <v-col>
                <h4>Keyword Reply Messages</h4>
              </v-col>
              <v-col>
                <div
                  class="messages-container__new-message-btn"
                  role="button"
                  @click="newMessage"
                >
                  New Message
                </div>
              </v-col>
            </v-row>
            <div class="messages-list">
              <v-sheet
                rounded
                class="reply-message__card"
                color="primary"
                @click="selectMessage(i)"
                v-for="(replyMessage, i) in replyMessages"
                :key="i"
              >
                {{ replyMessage.primaryKeywords }}
                <v-icon color="white" @click="deleteDialog = true"
                  >mdi-delete</v-icon
                >
              </v-sheet>
            </div>
          </div>
        </v-col>
      </app-layout>
    </div>
    <script src="javascripts/vue.min.js"></script>
    <script src="javascripts/vuetify.min.js"></script>
    <script src="javascripts/components/app-drawer.js"></script>
    <script src="javascripts/components/app-layout.js"></script>
    <script src="javascripts/keyword-reply.js"></script>
  </body>
</html>
