* {
  font-family: "Roboto";
  box-sizing: border-box;
}

.bg-gray-4 {
  background: #fafafa;
}
.bg-white {
  background: white;
}

.h-100 {
  height: 100%;
}

.border-1 {
  border: 1px solid #e5e5e5;
}

.position-relative {
  position: relative;
}

.font-weight-500 {
  font-weight: 500;
}

.title {
  color: var(--black);
  font-size: 20px;
}

.brand-logo {
  width: 100%;
  height: 180px;
}

.content {
  display: flex;
  height: 100%;
}

.drawer {
  background: white;
  height: 100%;
  width: 100%;
}

.p-0 {
  padding: unset !important;
}

.list-item--active {
  color: var(--primary) !important;
  font-weight: 500;
}

.v-icon.notranslate.mdi.mdi-checkbox-blank-outline.theme--light::before {
  content: "\F0130";
}

.v-icon.notranslate.mdi.mdi-checkbox-marked.theme--light.primary--text {
  color: var(--primary) !important;
}
.v-icon.notranslate.mdi.mdi-checkbox-marked.theme--light.primary--text::before {
  content: "\F0133";
}

.v-label.theme--light {
  color: var(--black) !important;
}

.pr-8 {
  padding-right: 36px;
}

.pl-6 {
  padding-right: 24px;
}

.pt-6 {
  padding-top: 24px;
}

.pb-6 {
  padding-bottom: 24px;
}

.v-btn__content {
  text-transform: capitalize;
}

.v-btn {
  border-radius: 2px !important;
}

.v-btn.theme--light.primary {
  background-color: var(--primary) !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.v-snack__wrapper.theme--dark {
  background-color: black !important;
  font-size: 12px;
  width: 100px !important;
}

.v-snack__content {
  padding: 8px 12px !important;
}
